//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 PkPAI (admin@pkpai.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
	
extends layout

block Subject
	title 호박파이 끄투
	
block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')

block Middle
	+separator(5)
	div(style='float: left;')
		div(style='float: left;')
			img(src='/img/banner/main.jpg' width='500px')
	div(style='float: right;')
		div.server-list-box
			h3.server-list-title
				label(style='color: #191919; font-size: 14px;') &nbsp;&nbsp;채널목록
				label#server-total(style='color: #aaaaaa; font-size: 13px;')
				a#server-refresh
					+FA('refresh')
					+Expl(L('serverRefresh'))
			div#server-list
	
block Bottom
	div.bottom-legal!= L('dictionarySupport')
	+separator(10)
